<footer class="footer">
    <div class="footer-col col-12 col-lg-6">
        <div class="logo-title">
            <span class="logo-title-wrapper fw-bold">Go Grubz</span>
            <p class="mb-0 fw-bolder mt-4 mt-lg-0">&#169; 2022 GoGrubz Ltd. All Rights Reserved</p>
        </div>
    </div>
    <div class="footer-col col-12 col-lg-6">
        <div class="row footer-section-wrapper">
            <div class="col-6 col-md-4 footer-text-wrapper">
                <p>Get Help</p>
                <p>Buy gift cards</p>
                <p>Add your restaurent</p>
                <p>Sign up to deliver</p>
                <p>Create a business account</p>
                <p>Promotions</p>
            </div>
            <div class="col-6 col-md-4 footer-text-wrapper">
                <p>Restaurants near me</p>
                <p>View all cities</p>
                <p>View all countries</p>
                <p>Pickup near me </p>
                <p>About Us</p>
                <div class="d-flex align-items-center">
                    <img src="../../assets/images/translate.png" class="me-2 translate-icon-wrapper"
                        alt="translate_icon" />
                    <p class="mb-0">English</p>
                </div>
            </div>
            <div class="col-6 col-md-4 d-flex align-items-center social-content-wrapper">
                <div class="social-section-wrapper">
                    <p class="text-center">FOLLOW US</p>
                    <div class="d-flex align-items-center">
                        <img src="../../assets/images/facebook-app-symbol.png" class="me-3" alt="facebook_icon" />
                        <img src="../../assets/images/instagram.png" class="me-3" alt="instagram_icon" />
                        <img src="../../assets/images/twitter.png" alt="twitter_icon" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>