.footer {
    display: flex;
    flex-wrap: wrap;
    padding: 24px;
    background-color: #fdf6f2;
    color: #000000;
    border-radius: 50px;
}

.footer-col {
    box-sizing: border-box;
}

.logo-title {
    display: flex;
    padding-left: 18px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 40px;
    height: 100%;
}

.translate-icon-wrapper {
    height: 24px;
    width: 24px;
}

.footer-text-wrapper {
    p {
        font-weight: 600;
    }
}

.logo {
    max-width: 100px;
    margin-bottom: 10px;
}

.sub-col h3 {
    margin-top: 0;
    font-size: 18px;
}

.sub-col p {
    margin: 5px 0;
    font-size: 14px;
}

.logo-title-wrapper {
    font-size: 44px;
    width: 120px;
    text-align: center;
    line-height: 0.8;
    color: #fc353a;
}

@media screen and (max-width: 768px) {
    .footer-section-wrapper {
        margin-top: 36px !important;
    }

    .social-content-wrapper {
        padding: 0 !important;
        margin: 36px 0 20px !important;
    }
}