<div class="hero container-fluid row">
    <div class="col-12 col-lg-6 hero-content">
        <h1 class="hero-title text-white">Why Go out When, you can Grubz in</h1>
        <div class="search-box bg-white p-1 px-2 my-5">
            <div class="d-flex align-items-center">
                <img src="../../assets/images/navigation.png" class="me-3 navigation-icon-wrapper"
                    alt="navigation_icon" />
                <p class="mb-0 placeholder-text-wrapper">Enter postcode or delivery address</p>
            </div>
            <button class="btn btn-dark">Search</button>
        </div>
        <div class="info-blocks d-flex align-items-center">
            <div class="info-block p-3 ps-0 pb-0 me-3">
                <h2 class="info-title text-white">230</h2>
                <p class="info-description mb-0 text-white">Restaurant</p>
            </div>
            <div class="info-block p-3 pb-0">
                <h2 class="info-title text-white">30,000</h2>
                <p class="info-description mb-0 text-white">Users</p>
            </div>
        </div>
    </div>
    <div class="col-lg-5 hero-image pe-0">
        <img src="../../assets/images/main_secton_img.avif" alt="Delicious food" class="img-fluid rounded">
    </div>
</div>