<section class="flex-container row m-0 mt-4">
    <div class="image-content col-12 col-md-7">
        <img src="../../assets/images/welcome_banner_img.png" class="welcome_img_wrapper" alt="welcome_banner_img">
    </div>
    <div class="text-content download-app-content-wrapper col-12 col-md-5 text-white">
        <h2 class="title-wrapper">Download our App</h2>
        <p class="description-wrapper">Our app gives you access to your favourite restaurants. Get your food delivered
            right to you</p>
        <div class="button-group">
            <img src="../../assets/images/appstore_img.png" class="app-store-img-wrapper" alt="appstore_img" />
            <img src="../../assets/images/google-play-badge.png" class="playstore-img-wrapper" alt="playstore_icon" />
        </div>
    </div>
</section>

<section class="background-section mt-4">
    <div class="overlay-text-wrapper">
        <h2 class="overlay-text-title">Restaurants near me</h2>
    </div>
</section>

<section class="view-all-cities-wrapper mt-5">
    <h3 class="cities-title-wrapper mb-5">View all cities</h3>
    <div class="row cities-content-wrapper">
        <div class="col-6 col-md-4 country-title-wrapper">
            <p>Aberdeen</p>
            <p>Belfast</p>
            <p>Birmingham</p>
            <p>Brighton and Sussex</p>
            <p>Cambridge and East Anglia</p>
            <p>Cardiff</p>
        </div>
        <div class="col-6 col-md-3 country-title-wrapper">
            <p>Edinburge</p>
            <p>Glasgow</p>
            <p>Hull</p>
            <p>Leeds</p>
            <p>Leicester</p>
            <p>London</p>
        </div>
        <div class="col-6 col-md-3 country-title-wrapper mt-4 mt-mb-0">
            <p>Manchester</p>
            <p>Merseyside</p>
            <p>North East</p>
            <p>Northampton</p>
            <p>Milton Keynes</p>
            <p>Nottingham</p>
        </div>
        <div class="col-6 col-md-2 country-title-wrapper mt-4 mt-mb-0">
            <p>Oxford</p>
            <p>Sheffield</p>
            <p>South coast</p>
            <p>South West</p>
            <p>Stoke</p>
        </div>
    </div>
</section>